body {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #777777;
}

/*字体大小集*/
.font16 {
	font-size: 16px;
}

.font10 {
	font-size: 10px;
	line-height: 23px;
}

/*字体颜色集*/
.color66 {
	color: #666666;
}

.color99 {
	color: #999999;
}

.color00 {
	color: #000;
}

.mainThemeColor {
	backgroundr: #005a9e;
}

.mainHoverColor {
	background: #0e79e9;
}

.fontstyle {
	color: white;
	font-size: larger;
	font-weight: 900;
}

.othercolor {
	background-color: #005a9e;
}

.head {
	width: 100%;
	height: 64px;
	background: white;
	position: fixed;
	background-color: #005a9e;
	position: left center;
	z-index: 1;
}

.head_body {
	width: 1140px;
	height: 64px;
	/*background-color: springgreen;*/
	margin: 0 auto;
}

.cslg-logo {
	width: 300px;
	height: 36px;
	float: left;
	/*margin-left: 95px;*/
	margin-top: 15px;
}

/*.clsg-name{
    float: left;
    width: 200px;
    height: 35px;
    margin-top:20px;
    /* background: gold;
}*/
.cslg-institute {
	background: #005a9e;
}

.cslg-institute a {
	float: left;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 23px;
	padding-bottom: 23px;
	font-size: 13px;
	/*background-color: brown;*/
}

.cslg-institute:hover a {
	/*background-color: aqua;*/
	
}

.course-search {
	float: left;
	width: 366px;
	height: 33px;
	margin-top: 15px;
	margin-left: 15px;
	/*background-color: brown;*/
}

.search-logo {
	float: left;
	width: 50px;
	height: 33px;
	/*margin-top:15px;*/
	/*margin-left: 30px;*/
	background: #0e79e9;
}

.search-background {
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 9px;
	margin-left: 11px;
	background: url(../image/search.png);
}

.search-li {
	float: right;
	width: 1px;
	height: 20px;
	margin-top: 7px;
	margin-right: 10px;
	background: white;
}

.search-form input {
	float: left;
	width: 300px;
	height: 33px;
	/* margin-top:15px;*/
	background: #0e79e9;
	border: none;
}

#input_search::-webkit-input-placeholder { /* WebKit browsers */
	color: white;
}

#input_search::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}

#input_search::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}

#input_search::-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

#input_search {
	color: white;
}

.search-form input {
	color: white;
}

.register-login {
	float: right;
	width: 150px;
	height: 33px;
	margin-top: 22px;
	/*background: gold;*/
	/*margin-left: 30px;*/
}

.register-login ul {
	float: left;
	margin-top: 0px;
	padding: 0 5px;
}

.register-login li {
	color: white;
	float: left;
	padding: 2px 2px;
	list-style-type: none;
	font-size: 14px;
	margin-left: 3px;
	margin-top: -10px;
	border-radius: 4px;
}

.register-login div {
	width: 50px;
	height: 30px;
	padding: 3px;;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;;
}

.register-login a {
	/*
    background-color: bisque;
    */
	display: block;
	width: 30px;
	height: 15px;
	padding: 7.5px 10px;
}

.register-login a:hover {
	background-color: #0e79e9;
	border-radius: 4px;
}

.li_space {
	
}

#li_space {
	width: 1px;
	margin-top: -1px;
	/*
    background-color: aqua;
    */
}

/*.register-login li:hover{
    background-color: #0e79e9;
}
#li_s*/
pace:hover {
	width: 1px;
	/*
    background-color: aqua;

    */
	background-color: #005a9e;
}

/*/个人中心下拉菜单代码/*/
.user {
	float: right;
	width: 200px;
	height: 64px;
	/*background-color: crimson;*/
}

.user_image_body {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	margin-left: 20px;
	float: left;
	margin-top: 12px;
}

.top-bar {
	float: right;
	/*margin-right: 20px;*/
	height: 64px;
	width: 130px;
	/*margin-left: 500px;*/
	position: relative;
	z-index: 1000;
	font-size: 15px;
	/*margin-top: 500px;*/
	/*background-color: burlywood;*/
}

.navbox-trigger font {
	font-size: 15px;
	color: #ffffff;
}

.top-bar .bar {
	/*background-color: rgba(30, 255, 247, 0.5);*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.top-bar .navbox {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: all .1s;
	transition: all .1s;
}

.top-bar .navbox-tiles {
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.top-bar.navbox-open .navbox-trigger {
	/*background-color: #2864ff;*/
	
}

.top-bar.navbox-open .navbox {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
}

.top-bar.navbox-open .navbox-tiles {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.navbox-trigger {
	background-color: transparent;
	width: 120px;
	height: 64px;
	line-height: 50px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*.navbox-trigger .fa {*/
/*font-size: 20px;*/
/*color: #fff;*/
/*}*/
.navbox-trigger:hover {
	/*background-color: #484747;*/
	
}

.navbox-trigger {
	border: none;
}

.navbox {
	float: left;
	margin-left: -210px;
	/*background-color:rgba(158,158,118,0.8);*/
	background-color: #ffffff;
	width: 340px;
	height: 220px;
	max-width: 380px;
	-webkit-backface-visibility: initial;
	backface-visibility: initial;
	border: 1px solid #005a9e;
}

.navbox-tiles {
	width: 100%;
	padding: 25px;
}

.navbox-tiles .tile {
	display: block;
	background-color: #3498db;
	width: 30.3030303030303%;
	height: 0;
	padding-bottom: 29%;
	float: left;
	/*border: 2px solid transparent;*/
	color: #fff;
	position: relative;
}

.navbox-tiles .tile .icon {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.navbox-tiles .tile .icon .fa {
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-backface-visibility: initial;
	backface-visibility: initial;
}

.navbox-tiles .tile .title {
	padding: 5px;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.navbox-tiles .tile:hover {
	/*border-color: #fff;*/
	text-decoration: none;
}

.navbox-tiles .tile:not (:nth-child(3n+3) ) {
	margin-right: 4.54545454545455%;
}

.navbox-tiles .tile:nth-child(n+4) {
	margin-top: 15px;
}

@media screen and (max-width: 370px) {
	.navbox-tiles .tile .icon .fa {
		font-size: 25px;
	}
	.navbox-tiles .tile .title {
		padding: 3px;
		font-size: 11px;
	}
}

.person_username_title {
	width: 290px;
	height: 75px;
	border-bottom: 1px solid #e1e1e1;
	/*margin-top: 25px;*/
	/*background-color: springgreen;*/
}

.person_course {
	width: 290px;
	height: 60px;
	margin-top: 0px;
	margin-right: 45px;
	/*margin-top: 25px;*/
	/*background-color: #ff3643;*/
	border-bottom: 1px solid #e1e1e1;
}

.person_option {
	width: 290px;
	height: 30px;
	margin-top: 20px;
	/*margin-top: 25px;*/
	/*background-color: #adff48;*/
	/*text-decoration:underline;*/
}

.person_option a :hover {
	text-decoration: underline;
}

.person_imgage {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 100%;
	/*background-color: #b0ff83;*/
}

.person_user_body {
	float: left;
	margin-left: 20px;
	width: 200px;
	height: 20px;
	font-size: 22px;
	/*background-color: chartreuse;*/
}

.person_user_body {
	font-size: 15px;
}

.person_user_body a:hover {
	text-decoration: underline;
	font-size: 15px;
}

.person_major {
	float: left;
	width: 200px;
	height: 15px;
	/*float: 15px;*/
	font-size: 10px;
	margin-left: 20px;
	margin-top: 15px;
	font-family: 微软雅黑;
	/*background-color: red;*/
}

.person_course_left {
	width: 145px;
	height: 100%;
	float: left;
	/*margin-left: 20px;*/
	/*background-color: aqua;*/
	font-size: 15px;
	color: #666666;
}

.person_course_left:hover {
	background-color: #e1e1e1;
	color: #005a9e;
}

.person_course_left_image {
	width: 100%;
	height: 25px;
	float: left;
	margin-top: 10px;
	/*background-color: purple;*/
}

.person_course_left_image img {
	margin: 0 62.5px;
}

.pserson_course_left_mycourse {
	font-size: 15px;
	text-align: center;
	font-family: 微软雅黑;
	margin-top: 5px;
	color: #666666;
}

.pserson_course_left_mycourse :hover {
	color: #005a9e;
}

.person_course_right {
	width: 145px;
	height: 100%;
	float: right;
	/*margin-right: 20px;*/
	/*background-color: chocolate;*/
}

.person_course_right:hover {
	background-color: #e1e1e1;
}

.setting_logo {
	float: left;
}

.setting_logo {
	float: left;
	margin-top: 2px;
}

.setting_option {
	/*background-color: seagreen;*/
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 10px;
	font-size: 13px;
	font-family: 微软雅黑;
	color: #ffffff;
}

.exit {
	float: right;
	width: 30px;
	font-size: 13px;
	font-family: 微软雅黑;
	color: #005a9e;
	height: 100%;
	/*background-color: purple;*/
}

.exit a {
	color: #666666;
	font-size: 13px;
}

.exit a :hover {
	font-size: 13px;
}

.setting_option a {
	color: #666666;
	font-size: 13px;
}

.exit a:hover {
	text-decoration: underline;
	color: #005a9e;
}

.setting_option a:hover {
	text-decoration: underline;
	color: #005a9e;
}

.sanjiao {
	float: right;
	width: 10px;
	height: 50px;
	/*background-color: burlywood;*/
	margin-top: 20px;
	margin-right: 5px;
	/*margin-right: -10px;*/
}

.sanjiao img {
	float: left;
	margin-top: 20px;
	margin: 0 auto;
}

/*
学院分布的导航条效果引入样式
*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-table
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

*+html .clearfix {
	min-height: 1%
}

/* nav_menu */
.nav_menu {
	float: left;
	width: 100px;
	height: 64px;
	background-color: #005a9e;
	margin-left: 15px;
}

.nav_menu:hover {
	background-color: #0e79e9;
	color: white;
}

.nav {
	position: relative;
	float: left;
	color: #000;
}

.nav .list li {
	float: left;
}

.nav .list a {
	float: left;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav .box {
	position: absolute;
	left: -315px;
	top: 64px;
	width: 840px;
	overflow: hidden;
	height: 0;
	/*
    background-color:rgba(75,75,75,0.8);
    */
	background-color: rgba(6, 100, 195, 0.3);
	border-bottom: 2px solid #0e79e9;
}

.nav .cont {
	position: relative;
	padding: 25px 0 0px 24px;
}

/* sublist */
.sublist li {
	float: left;
	width: 168px;
	padding-right: 24px;
	padding-bottom: 24px;
}

.sublist li h3.mcate-item-hd {
	font-family: '微软雅黑';
	padding-left: 2px;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	border-bottom: 1px dashed #666666;
}

.sublist li p.mcate-item-bd {
	padding-left: 2px;
}

.sublist li p.mcate-item-bd a {
	height: 26px;
	line-height: 26px;
	margin-right: 5px;
	font-size: 12px;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.sublist li p.mcate-item-bd a:hover {
	color: #0e79e9;
	text-decoration: underline;
}

.top-bar, .top-bar .navbox-tiles, .navbox-trigger, .navbox-tiles .tile,
	.navbox-tiles .tile .icon .fa, .navbox-tiles .tile .title {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.navbox-tiles:after {
	content: '';
	display: table;
	clear: both;
}