body {
	margin: 0px;
}

a {
	text-decoration: none;
	color: #777777;
}

/*字体大小集*/
.font16 {
	font-size: 16px;
}

.font10 {
	font-size: 10px;
	line-height: 23px;
}

/*字体颜色集*/
.color66 {
	color: #666666;
}

.color99 {
	color: #999999;
}

.color00 {
	color: #000;
}

.mainThemeColor {
	backgroundr: #005a9e;
}

.mainHoverColor {
	background: #0e79e9;
}

.fontstyle {
	color: white;
	font-size: larger;
	font-weight: 900;
}

.othercolor {
	background-color: #005a9e;
}

.head {
	width: 100%;
	height: 64px;
	background: white;
	position: fixed;
	background-color: #005a9e;
	position: left center;
	z-index: 1;
}

.head_body {
	width: 1140px;
	height: 64px;
	/*background-color: springgreen;*/
	margin: 0 auto;
}

.cslg-logo {
	width: 300px;
	height: 36px;
	float: left;
	/*margin-left: 95px;*/
	margin-top: 15px;
}

/*.clsg-name{
    float: left;
    width: 200px;
    height: 35px;
    margin-top:20px;
    /* background: gold;
}*/
.cslg-institute {
	background: #005a9e;
}

.cslg-institute a {
	float: left;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 23px;
	padding-bottom: 23px;
	font-size: 13px;
	/*background-color: brown;*/
}

.cslg-institute:hover a {
	/*background-color: aqua;*/
	
}

.course-search {
	float: left;
	width: 366px;
	height: 33px;
	margin-top: 15px;
	margin-left: 15px;
	/*background-color: brown;*/
}

.search-logo {
	float: left;
	width: 50px;
	height: 33px;
	/*margin-top:15px;*/
	/*margin-left: 30px;*/
	background: #0e79e9;
}

.search-background {
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 9px;
	margin-left: 11px;
	background: url(../image/search.png);
}

.search-li {
	float: right;
	width: 1px;
	height: 20px;
	margin-top: 7px;
	margin-right: 10px;
	background: white;
}

.search-form input {
	float: left;
	width: 300px;
	height: 33px;
	/* margin-top:15px;*/
	background: #0e79e9;
	border: none;
}

#input_search::-webkit-input-placeholder { /* WebKit browsers */
	color: white;
}

#input_search::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}

#input_search::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}

#input_search::-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

#input_search {
	color: white;
}

.search-form input {
	color: white;
}

.register-login {
	float: right;
	width: 150px;
	height: 33px;
	margin-top: 22px;
	/*background: gold;*/
	/*margin-left: 30px;*/
}

.register-login ul {
	float: left;
	margin-top: 0px;
	padding: 0 5px;
}

.register-login li {
	color: white;
	float: left;
	padding: 2px 2px;
	list-style-type: none;
	font-size: 14px;
	margin-left: 3px;
	margin-top: -10px;
	border-radius: 4px;
}

.register-login div {
	width: 50px;
	height: 30px;
	padding: 3px;;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;;
}

.register-login a {
	/*
    background-color: bisque;
    */
	display: block;
	width: 30px;
	height: 15px;
	padding: 7.5px 10px;
}

.register-login a:hover {
	background-color: #0e79e9;
	border-radius: 4px;
}

.li_space {
	
}

#li_space {
	width: 1px;
	margin-top: -1px;
	/*
    background-color: aqua;
    */
}

/*.register-login li:hover{
    background-color: #0e79e9;
}
#li_s*/
pace:hover {
	width: 1px;
	/*
    background-color: aqua;

    */
	background-color: #005a9e;
}

.mainpage_body {
	width: 1140px;
	height: 423px;
	/*background-color: springgreen;*/
	margin: 0 auto;
}

.mainpage {
	float: left;
	width: 840px;
	height: 360px;
	/*margin-left: 95px;*/
	margin-top: 92px;
	/*background: greenyellow;*/
	overflow: hidden;
}

.register-login a:link {
	text-decoration: none;
}

.body {
	margin-top: 30px;
	width: 100%;
	height: 423px;
	margin: 0px auto;
	padding: 0px;
	/*background-color: red;*/
	/*background: darkblue;*/
}

.software {
	width: 260px;
	height: 300px;
	background-color: rgba(94, 207, 186, 0.2);
	float: right;
	/*margin-right: 95px;*/
	margin-top: 92px;
	border-left: solid 7px #a1b5ba;
	border-top: solid 7px #a1b5ba;
	border-right: solid 7px #a1b5ba;
}

.gotosoftware {
	width: 274px;
	height: 51px;
	background-color: #005a9e;
	float: right;
	/*margin-right: 95px;*/
	position: relative;
}

.buttom-gosoftware {
	color: white;
	font-size: 18px;
	font-family: 黑体;
	/*
    background-color: fuchsia;
    */
	height: 25px;
	width: 112px;
	margin-top: 16px;
	margin-left: 92px;
}

.buttom-gosoftware img {
	float: left;
	margin-left: 12px;
}

.gotosoftware a {
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
}

.gotosoftware :checked {
	background-color: blue;
}

.gotosoftware:hover a {
	display: block;
}

.hot-course {
	width: 100%;
	height: 415px;
	margin: 0px auto;
	padding: 0px;
	/*background: greenyellow;*/
}

.hot_course_body_center {
	width: 1140px;
	height: 415px;
	/*background-color: springgreen;*/
	margin: 0 auto;
}

.hot-course-title {
	width: 100%;
	height: 148px;
	/*background: green;*/
}

.title-top {
	float: left;
	width: 100%;
	height: 66px;
	/* background: yellow;*/
}

.title-center {
	float: left;
	width: 100%;
	height: 35px;
	/*background: red;*/
}

.title-bottom {
	float: left;
	width: 100%;
	height: 15px;
	/* background: darkslategray;*/
}

.hot-course-body {
	width: 1140px;
	height: 263px;
	/* background: mediumvioletred;*/
	/*margin-left: 95px;*/
}

.hot-center-name a {
	font-family: "黑体";
	font-size: 25px;
	float: left;
	/*margin-left: 95px;*/
	text-decoration: none;
	color: black;
}

.hot-center-name a:hover {
	color: #0e79e9;
}

.more-hot-course {
	font-size: 18px;
	float: right;
	/*margin-right: 95px;*/
	margin-top: 5px;
}

.more-hot-course a {
	color: #777777;
	font-family: "黑体";
	text-decoration: none;
}

.more-hot-course a:hover {
	color: #0e79e9;
	font-family: "黑体";
	text-decoration: none;
}

.hotcourse {
	float: left;
	width: 283px;
	height: 130px;
	/* background: aqua;*/
	border: solid 1px;
	border-color: #e8e8e8;
	position: relative;
}

.hotcourse a {
	float: left;
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	/*background-color: chartreuse;*/
}

.hotcourse:hover a {
	display: block;
}

.hotcourse:hover {
	float: left;
	width: 283px;
	height: 130px;
	/*background: aqua;*/
	border: solid 1px;
	border-color: #0e79e9;
}

.hotcourse:hover .course-title {
	color: #0e79e9;
}

.courselogo {
	width: 87px;
	height: 87px;
	background: greenyellow;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}

.detail-course {
	float: left;
	width: 160px;
	height: 87px;
	margin-left: 15px;
	margin-top: 20px;
	/*background-color: aqua;*/
}

.detail-course h4, p {
	margin: 0;
	padding: 0;
}

.hotlable {
	width: 100%;
	height: 85px;
	/*
    background: yellow;
    */
}

.kongdiv {
	width: 100%;
	height: 50px;
	/*background: mediumvioletred;*/
}

.hotlable_body {
	width: 1140px;
	height: 85px;
	/*background-color: springgreen;*/
	margin: 0 auto;
}

.divname {
	float: left;
	width: 220px;
	height: 35px;
	/*
    background: brown;
    */
	margin-top: 10px;
}

.lable {
	float: left;
	margin-top: 10px;
}

.lable-name {
	margin-top: 20px;
	padding-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 5px;
	border: solid 1px;
	border-color: #e8e8e8;
	/*background-color: aqua;*/
}

.lable-name:hover {
	border-color: #0e79e9;
}

.lable-name a {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	height: 100%;
	/*background-color: chartreuse;*/
}

.lable-name:hover a {
	color: #0e79e9;
}

.hotteacher {
	width: 100%;
	height: 362px;
	/*
    background-color: springgreen;
    */
	margin-top: 50px;
}

.hotteacher_body {
	width: 1140px;
	height: 362px;
	/*background-color: springgreen;*/
	margin: 0 auto;
}

/*.hotteacher_left_space{*/
/*float: left;*/
/*width: 92px;*/
/*height: 100%;*/
/*background-color: blueviolet;*/

/*}*/
.hotteacher_title {
	width: 100%;
	height: 55px;
	/*
    background-color: #6ea517;
    */
	float: left;
	margin-top: 0px;
}

.hotteacher_title span {
	float: left;
	/*
    background-color: darkseagreen;
    */
	margin-top: 10px;
	color: black;
	font-family: 微软雅黑;
	font-size: 25px;
	width: 100px;
}

#teacher_title {
	margin-top: 10px;
}

.hotteachter_center {
	float: left;
	height: 100%;
	width: auto;
	/*
    background-color: crimson;
    */
}

.hotteacher_rigth_space {
	float: right;
	width: 82px;
	height: 100%;
	background-color: blueviolet;
}

.hotteacher_center_body {
	float: left;
	margin-right: 12px;
	margin-left: 3px;
	width: 210px;
	height: 318px;
	/*
    background-color: cadetblue;
    */
}

.teacher_logo {
	width: 215px;
	height: 215px;
	/*
    background-color: chocolate;
    */
	float: left;
	border-radius: 100%;
	overflow: hidden;
}

.teacher_name {
	float: left;
	width: 100%;
	height: 33px;
	/*
    background-color: #8266dc;
    */
	margin-top: 10px;
}

.hotteacher_introduce {
	float: left;
	width: 100%;
	height: 60px;
	/*
    background-color: darkseagreen;
    */
}

.copyright {
	width: 100%;
	height: 80px;
	background: #e9e9e9;
	margin-top: 50px;
	float: left;
}

.leftspace {
	float: left;
	width: 30%;
	height: 80px;
	/* background: red;*/
}

.center {
	text-align: center;
	color: #9999ad;
	float: left;
	width: 40%;
	height: 80px;
	/* background: yellow;*/
}

.copyright-space {
	width: 100%;
	height: 22px;
	/*background-color: aqua;*/
}

.rightspace {
	float: left;
	width: 30%;
	height: 80px;
	/* background: rebeccapurple;*/
}

.top-buttom {
	width: 44px;
	height: 88px;
	/* background: #0669ad;*/
	position: fixed;
	z-index: 1;
	/*top: 500px;*/
	right: 0px;
	bottom: 100px;
}

.gotop {
	float: left;
	width: 44px;
	height: 44px;
	background: #005a9e;
}

.gotop a {
	/*background-color: aqua;*/
	display: block;
	width: 20px;
	height: 20px;
	padding: 12px;
}

.gotop:hover a {
	background-color: #0e79e9;
}

.gobuttom {
	float: left;
	width: 44px;
	height: 44px;
	background: #005a9e;
	margin-top: 2px;
}

.gobuttom a {
	/*background-color: cadetblue;*/
	display: block;
	width: 20px;
	height: 20px;
	padding: 12px;
}

.gobuttom:hover a {
	background-color: #0e79e9;
}

/*
登录弹窗效果
*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, code, del, dfn, em,
	img, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, button,
	input, table, caption, tbody, tfoot, thead, tr, th, td, menu {
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section {
	display: block
}

audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

audio:not ([controls] ) {
	display: none
}

/* ������������֮�� www.lanrenzhijia.com */
table {
	border-collapse: collapse;
	border-spacing: 0;
	empty-cells: show
}

ol, ul, menu {
	list-style: none
}

img {
	border: 0
}

a:focus {
	outline: none
}

em, i {
	font-style: normal;
}

button, input, select, textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: -3px;
	outline: none;
}

button, input {
	border: 1px solid;
	outline: none;
	line-height: normal;
	*overflow: visible
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

button, input[type="button"], input[type="reset"], input[type="submit"]
	{
	cursor: pointer;
	-webkit-appearance: button
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

textarea {
	overflow: auto;
	vertical-align: top
}

::selection {
	background: #72d0eb;
	color: #fff;
	text-shadow: none
}

::-moz-selection {
	background: #72d0eb;
	color: #fff;
	text-shadow: none
}

*[hidden] {
	display: none
}

a {
	color: #0088DB;
	text-decoration: none;
	cursor: pointer
}

.clearfix:after, .central:after, .widget ul:after, .paging:after,
	.pagenav:after, .base-tit:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix, .central, .widget ul, .paging, .pagenav, .base-tit {
	height: 1%;
}

body, button, input, select, textarea, code {
	font-size: 12px;
	font-family: microsoft yahei;
	color: #444;
}

/*window*/

/* input */
.ipt {
	border: solid 1px #d2d2d2;
	border-left-color: #ccc;
	border-top-color: #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 0 #f8f8f8;
	background-color: #fff;
	padding: 4px 6px;
	height: 21px;
	line-height: 21px;
	color: #555;
	width: 180px;
	vertical-align: baseline;
}

.ipt-mini {
	width: 140px;
	padding: 1px 3px;
}

.ipt:focus {
	border-color: #95C8F1;
	box-shadow: 0 0 4px #95C8F1;
}

/* btn */
.btn {
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 52px;
	padding: 0 12px;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	border: 1px solid #ddd;
	color: #666;
	background-color: #f5f5f5;
	background: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background: linear-gradient(top, #F5F5F5, #F1F1F1);
}

input.btn {
	height: 29px;
}

.btn:hover {
	border-color: #c6c6c6;
	color: #333;
	background-color: #f8f8f8;
	background: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	background: -moz-linear-gradient(top, #f8f8f8, #f1f1f1);
	background: linear-gradient(top, #f8f8f8, #f1f1f1);
	box-shadow: #ddd 0 1px 1px 0;
}

.btn:active, .btn.btn-active {
	box-shadow: #ddd 0 1px 2px 0 inset;
	border-color: #c6c6c6;
}

.btn:focus {
	border-color: #4d90fe;
	outline: none
}

.btn-primary {
	border-color: #3079ED;
	color: #F3F7FC;
	background-color: #4D90FE;
	background: -webkit-linear-gradient(top, #4D90FE, #4787ED);
	background: -moz-linear-gradient(top, #4D90FE, #4787ED);
	background: linear-gradient(top, #4D90FE, #4787ED);
}

.btn-primary:hover {
	border-color: #2F5BB7;
	color: #fff;
	background-color: #4D90FE;
	background: -webkit-linear-gradient(top, #4D90FE, #357AE8);
	background: -moz-linear-gradient(top, #4D90FE, #357AE8);
	background: linear-gradient(top, #4D90FE, #357AE8);
}

.btn-primary:active, .btn-primary.btn-active {
	box-shadow: #2176D3 0 1px 2px 0 inset;
	border-color: #3079ED;
}

.btn-primary:focus {
	border-color: #4d90fe;
	outline: none
}

/* ������������֮�� www.lanrenzhijia.com */
.theme-buy {
	margin-top: 10%;
	text-align: center;
}

.theme-gobuy, .theme-signin {
	font-size: 15px;
}

.theme-price {
	position: relative;
	bottom: -6px;
	font-family: microsoft yahei, Arial, Helvetica, sans-serif;
	margin-right: 20px;
	font-weight: bold;
	color: #f60;
	line-height: 32px;
	font-size: 24px;
	display: inline-block;
}

.theme-price dfn {
	font-style: normal;
	font-size: 18px;
	margin-right: 2px;
}

.theme-desc {
	padding: 30px;
}

.theme-version {
	padding: 30px;
}

.theme-popover-mask {
	z-index: 9998;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	display: none
}

.theme-popover {
	z-index: 9999;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 360px;
	margin: -180px 0px 0px -250px;
	border-radius: 5px;
	/* border: solid 2px #666;*/
	background-color: rgba(14, 121, 233, 0.8);
	background-color: rgba(255, 255, 255, 0.5);
	display: none;
	box-shadow: 0 0 10px #666;
}

.theme-poptit {
	border-bottom: 1px solid #ddd;
	background-color: #005a9e;
	padding: 12px;
	position: relative;
}

.theme-popbod {
	padding: 60px 15px;
	color: #444;
	height: 148px;
}

.theme-popbod input {
	width: 300px;
	height: 40px;
	margin-left: -120px;
}

.theme-popbom {
	padding: 15px;
	background-color: #0e79e9;
	border-top: 1px solid #ddd;
	/*border-radius: 0 0 5px 5px;*/
	color: #666
}

.theme-popbom a {
	margin-left: 8px
}

.theme-poptit .close {
	float: right;
	color: #999;
	padding: 5px;
	margin: -2px -5px -5px;
	font: bold 14px/14px simsun;
	text-shadow: 0 1px 0 #ddd
}

.theme-poptit .close:hover {
	color: #444;
}

.btn {
	width: 200;
	height: 30px;
	background-color: fuchsia;
}

.btn.theme-reg {
	position: absolute;
	top: 8px;
	left: 43%;
	display: none
}

.inp-gray, .feed-mail-inp {
	border: 1px solid #ccc;
	background-color: #fdfdfd;
	width: 220px;
	height: 16px;
	padding: 4px;
	color: #444;
	margin-right: 6px;
}

.dform {
	padding: 80px 60px 40px;
	text-align: center;
}

.dform .ipt_error {
	background-color: #FFFFCC;
	border-color: #FFCC66
}

.dform-tip {
	display: none;
	background-color: #080;
	color: #fff;
	line-height: 42px;
	margin-top: 10px;
	font-size: 14px;
}

.dform-tip-errer {
	background-color: #CF301A;
}

.dform-tip a {
	display: inline-block;
	padding: 0 20px;
	margin-left: 10px;
	background-color: #FFE924;
	color: #CF301A;
}

.dform-login {
	padding: 0;
	height: 270px;
	overflow: hidden;
}

.dform-login iframe {
	height: 470px;
	margin-top: -180px;
}

.theme-signin {
	margin: -50px -20px -50px 90px;
	text-align: left;
	font-size: 14px;
}

.theme-signin h4 {
	color: #999;
	font-weight: 100;
	margin-bottom: 20px;
	font-size: 12px;
}

.theme-signin li {
	padding-left: 80px;
	margin-bottom: 15px;
}

.theme-signin li strong {
	float: left;
	margin-left: -80px;
	width: 80px;
	text-align: right;
	line-height: 32px;
}

.theme-signin .btn {
	margin-bottom: 10px;
}

.theme-signin p {
	font-size: 12px;
	color: #999;
}

.theme-desc, .theme-version {
	padding-top: 0
}

a {
	font-size: 15px;
}

/*
学院分布的导航条效果引入样式
*/
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-table
}

* html .clearfix {
	height: 1%
}

.clearfix {
	display: block
}

*+html .clearfix {
	min-height: 1%
}

/* nav_menu */
.nav_menu {
	float: left;
	width: 100px;
	height: 64px;
	background-color: #005a9e;
	margin-left: 15px;
}

.nav_menu:hover {
	background-color: #0e79e9;
	color: white;
}

.nav {
	position: relative;
	float: left;
	color: #000;
}

.nav .list li {
	float: left;
}

.nav .list a {
	float: left;
	display: block;
	text-align: center;
	font-size: 14px;
}

.nav .box {
	position: absolute;
	left: -315px;
	top: 64px;
	width: 840px;
	overflow: hidden;
	height: 0;
	/*
    background-color:rgba(75,75,75,0.8);
    */
	background-color: rgba(6, 100, 195, 0.3);
	border-bottom: 2px solid #0e79e9;
}

.nav .cont {
	position: relative;
	padding: 25px 0 0px 24px;
}

/* sublist */
.sublist li {
	float: left;
	width: 168px;
	padding-right: 24px;
	padding-bottom: 24px;
}

.sublist li h3.mcate-item-hd {
	font-family: '微软雅黑';
	padding-left: 2px;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	border-bottom: 1px dashed #666666;
}

.sublist li p.mcate-item-bd {
	padding-left: 2px;
}

.sublist li p.mcate-item-bd a {
	height: 26px;
	line-height: 26px;
	margin-right: 5px;
	font-size: 12px;
	color: white;
	text-decoration: none;
	display: inline-block;
}

.sublist li p.mcate-item-bd a:hover {
	color: #0e79e9;
	text-decoration: underline;
}

.top-bar, .top-bar .navbox-tiles, .navbox-trigger, .navbox-tiles .tile,
	.navbox-tiles .tile .icon .fa, .navbox-tiles .tile .title {
	-webkit-transition: all .3s;
	transition: all .3s;
}

.navbox-tiles:after {
	content: '';
	display: table;
	clear: both;
}

/* Core Styles */
/*/个人中心下拉菜单代码/*/
.user {
	float: right;
	width: 200px;
	height: 64px;
	/*background-color: crimson;*/
}

.user_image_body {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	overflow: hidden;
	margin-left: 20px;
	float: left;
	margin-top: 12px;
}

.top-bar {
	float: right;
	/*margin-right: 20px;*/
	height: 64px;
	width: 130px;
	/*margin-left: 500px;*/
	position: relative;
	z-index: 1000;
	font-size: 15px;
	/*margin-top: 500px;*/
	/*background-color: burlywood;*/
}

.navbox-trigger font {
	font-size: 15px;
	color: #ffffff;
}

.top-bar .bar {
	/*background-color: rgba(30, 255, 247, 0.5);*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.top-bar .navbox {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: all .1s;
	transition: all .1s;
}

.top-bar .navbox-tiles {
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.top-bar.navbox-open .navbox-trigger {
	/*background-color: #2864ff;*/
	
}

.top-bar.navbox-open .navbox {
	visibility: visible;
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: opacity .3s, -webkit-transform .3s;
	transition: opacity .3s, transform .3s;
}

.top-bar.navbox-open .navbox-tiles {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.navbox-trigger {
	background-color: transparent;
	width: 120px;
	height: 64px;
	line-height: 50px;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*.navbox-trigger .fa {*/
/*font-size: 20px;*/
/*color: #fff;*/
/*}*/
.navbox-trigger:hover {
	/*background-color: #484747;*/
	
}

.navbox-trigger {
	border: none;
}

.navbox {
	float: left;
	margin-left: -210px;
	/*background-color:rgba(158,158,118,0.8);*/
	background-color: #ffffff;
	width: 340px;
	height: 220px;
	max-width: 380px;
	-webkit-backface-visibility: initial;
	backface-visibility: initial;
	border: 1px solid #005a9e;
}

.navbox-tiles {
	width: 100%;
	padding: 25px;
}

.navbox-tiles .tile {
	display: block;
	background-color: #3498db;
	width: 30.3030303030303%;
	height: 0;
	padding-bottom: 29%;
	float: left;
	/*border: 2px solid transparent;*/
	color: #fff;
	position: relative;
}

.navbox-tiles .tile .icon {
	width: 100%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.navbox-tiles .tile .icon .fa {
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-backface-visibility: initial;
	backface-visibility: initial;
}

.navbox-tiles .tile .title {
	padding: 5px;
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.navbox-tiles .tile:hover {
	/*border-color: #fff;*/
	text-decoration: none;
}

.navbox-tiles .tile:not (:nth-child(3n+3) ) {
	margin-right: 4.54545454545455%;
}

.navbox-tiles .tile:nth-child(n+4) {
	margin-top: 15px;
}

@media screen and (max-width: 370px) {
	.navbox-tiles .tile .icon .fa {
		font-size: 25px;
	}
	.navbox-tiles .tile .title {
		padding: 3px;
		font-size: 11px;
	}
}

.person_username_title {
	width: 290px;
	height: 75px;
	border-bottom: 1px solid #e1e1e1;
	/*margin-top: 25px;*/
	/*background-color: springgreen;*/
}

.person_course {
	width: 290px;
	height: 60px;
	margin-top: 0px;
	margin-right: 45px;
	/*margin-top: 25px;*/
	/*background-color: #ff3643;*/
	border-bottom: 1px solid #e1e1e1;
}

.person_option {
	width: 290px;
	height: 30px;
	margin-top: 20px;
	/*margin-top: 25px;*/
	/*background-color: #adff48;*/
	/*text-decoration:underline;*/
}

.person_option a :hover {
	text-decoration: underline;
}

.person_imgage {
	float: left;
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 100%;
	/*background-color: #b0ff83;*/
}

.person_user_body {
	float: left;
	margin-left: 20px;
	width: 200px;
	height: 20px;
	font-size: 20px;
	/*background-color: chartreuse;*/
}

.person_user_body a:hover {
	text-decoration: underline;
}

.person_major {
	float: left;
	width: 200px;
	height: 15px;
	/*float: 15px;*/
	font-size: 10px;
	margin-left: 20px;
	margin-top: 15px;
	font-family: 微软雅黑;
	/*background-color: red;*/
}

.person_course_left {
	width: 145px;
	height: 100%;
	float: left;
	/*margin-left: 20px;*/
	/*background-color: aqua;*/
	font-size: 15px;
	color: #666666;
}

.person_course_left:hover {
	background-color: #e1e1e1;
	color: #005a9e;
}

.person_course_left_image {
	width: 100%;
	height: 25px;
	float: left;
	margin-top: 10px;
	/*background-color: purple;*/
}

.person_course_left_image img {
	margin: 0 62.5px;
}

.pserson_course_left_mycourse {
	font-size: 15px;
	text-align: center;
	font-family: 微软雅黑;
	margin-top: 5px;
	color: #666666;
}

.pserson_course_left_mycourse :hover {
	color: #005a9e;
}

.person_course_right {
	width: 145px;
	height: 100%;
	float: right;
	/*margin-right: 20px;*/
	/*background-color: chocolate;*/
}

.person_course_right:hover {
	background-color: #e1e1e1;
}

.setting_logo {
	float: left;
}

.setting_logo {
	float: left;
	margin-top: 2px;
}

.setting_option {
	/*background-color: seagreen;*/
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 10px;
	font-size: 13px;
	font-family: 微软雅黑;
	color: #ffffff;
}

.exit {
	float: right;
	width: 30px;
	font-size: 13px;
	font-family: 微软雅黑;
	color: #005a9e;
	height: 100%;
	/*background-color: purple;*/
}

.exit a {
	color: #666666;
	font-size: 13px;
}

.exit a :hover {
	font-size: 13px;
}

.setting_option a {
	color: #666666;
	font-size: 13px;
}

.exit a:hover {
	text-decoration: underline;
	color: #005a9e;
}

.setting_option a:hover {
	text-decoration: underline;
	color: #005a9e;
}

.sanjiao {
	float: right;
	width: 10px;
	height: 50px;
	/*background-color: burlywood;*/
	margin-top: 20px;
	margin-right: 5px;
	/*margin-right: -10px;*/
}

.sanjiao img {
	float: left;
	margin-top: 20px;
	margin: 0 auto;
}